<launch>    
    <arg name="world_config_file" doc="YAML file with the configuration of the assets and engines used to generate the Gazebo world"/>
    <arg name="output_world_file" default="/tmp/pcg.world" doc="Path to generated output world file"/>
    <arg name="output_topic" default="/world_sdf" doc="Topic name to publish the resulting XML file" />
    <arg name="plot_footprints" default="false" doc="True to output the model footprints as a bokeh plot" />
    
    <group if="$(arg plot_footprints)">
        <node pkg="pcg_gazebo" 
            type="generate_world" 
            name="$(anon generate_world)"
            output="screen"
            args="--config-file $(arg world_config_file)
                --output-world-file $(arg output_world_file)
                --output-topic $(arg output_topic)
                --verbose 
                --plot"/>
    </group>

    <group unless="$(arg plot_footprints)">
        <node pkg="pcg_gazebo" 
            type="generate_world" 
            name="$(anon generate_world)"
            output="screen"
            args="--config-file $(arg world_config_file)
                --output-world-file $(arg output_world_file)
                --output-topic $(arg output_topic)
                --verbose"/>
    </group>
</launch>